:root {
  --vh: 1vh;
}

html {
  height: calc(var(--vh) * 100);
  overflow: hidden;

  @include media(md) {
    font-size: 18px;
  }

  @include media(xl) {
    font-size: 20px;
  }
}

body {
  height: 100%;
  overflow: hidden;
  font-family: bicyclette, sans-serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

#root {
  height: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.sr-only,
.hidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px !important;
  overflow: hidden;
  padding: 0 !important;
  position: absolute;
  top: 0;
  width: 1px !important;
  white-space: nowrap;
  opacity: 0;
}

.noSelect {
  user-select: none;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@keyframes progressTrack {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.revealTrack {
  width: 0%;
  position: absolute;
  overflow: hidden;
  animation: progressTrack var(--duration) linear;
}

@keyframes fadeDelay {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeDelay 1s linear;
}
