// Global Theming

/** Colors */
$primary: #000;
$secondary: #fff;

/** Settings */
$border-radius-input: rem(12);
$border-radius-footer: rem(30);
$content-max-width: 500px;

/** Spaces */
$space-lvl-1: rem(5);
$space-lvl-2: rem(12);
$space-lvl-3: rem(15);
$space-lvl-4: rem(20);
$space-lvl-5: rem(30);
$space-lvl-6: rem(40);
$space-lvl-7: rem(50);
$space-lvl-8: rem(60);

/* Font size text*/
$font-size-xs: rem(12);
$font-size-s: rem(14);
$font-size-m: rem(15);
$font-size-lg: rem(18);

/* Font size title*/
$title-size-xs: rem(20);
$title-size-s: rem(22);
$title-size-m: rem(28);
$title-size-lg: rem(32);
$title-size-xl: rem(36);
